@font-face {
    font-family: Comic_Neu;
    src: url('../font/Comic_Neue/ComicNeue-Regular.ttf');
}

@font-face {
    font-family: Comic_Neu_Bold;
    src: url('../font/Comic_Neue/ComicNeue-Bold.ttf');
}


body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Navigation style */

#nav{
    gap: 5px;
    position: fixed;
    right: 10px; /* Adjust this value to control spacing from the left edge */
    top: 20px; /* Position from the top */
    z-index: 1;
    display: flex; /* Use flexbox to align children */
    justify-content: center;
}

.nav-btn{
	width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.5s;
}

.nav-btn:hover{
	background-color: black;
}


.button-exterior{
    text-align: center; 
    margin-top: 20px;
}



.button {
    top: 1000px;
    margin-top: 20px;
    display: inline-block; /* Allows the buttons to sit side by side */
    background-color: black; /* Example button color */
    color: white; /* Text color */
    padding: 10px 20px; /* Button padding */
    text-align: center; /* Center the text inside the button */
    text-decoration: none; /* Remove underline from links */
    border: none; 
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change mouse cursor to pointer */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
}

.button:hover {
    background-color: white;
    color: black;
}

.section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}

/* Parallax Background Styles */
.parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.text-box {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 15px; /* Adjust as needed */
    width: calc(100% - 1200px); /* Adjust width as needed, minus the total left and right margin */
    box-sizing: border-box;
    border: 1px solid #ccc; /* Example border color */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
    border-radius: 5px; /* Rounded corners */
    text-align: center;
}

/* Positioning for first text box */
#textbox1 {
    position: absolute;
    top: 200px; /* Adjust to the correct position */
    left: 50px; /* Adjust to the correct position */
}

/* Positioning for second text box */
#textbox2 {
    position: absolute;
    top: 350px; /* Adjust to the correct position */
    right: 50px; /* Adjust to the correct position */
}


/* Intro Section */
.section_intro {
    background-image: url('../images/village_images/cover.png');
}


#scenario1 {
    background-image: url('../images/village_images/drought.png');    
}

#scenario2 {
    background-image: url('../images/village_images/disease.png');
}

#scenario3 {
    background-image: url('../images/village_images/flood.png');
}

#scenario4 {
    background-image: url('../images/village_images/attack.png');
}

#scenario5 {
    background-image: url('../images/village_images/earthquake.png');
}

#scenario6 {
    background-image: url('../images/village_images/crop_fail.png');
}

#scenario7 {
    background-image: url('../images/village_images/pest_invasion.png');
}

#scenario8 {
    background-image: url('../images/village_images/takeover.png');
}

#scenario9 {
    background-image: url('../images/village_images/expansion.png');
}

#scenario10 {
    background-image: url('../images/village_images/oppression.png');
}

#scenario11 {
    background-image: url('../images/village_images/shelter.png');
}

#scenario12 {
    background-image: url('../images/village_images/wolves.png');
}

#scenario13 {
    background-image: url('../images/village_images/nomadic.png');
}

#scenario14 {
    background-image: url('../images/village_images/desolate.png');
}

#scenario15 {
    background-image: url('../images/village_images/ai_gov.png');
}

#scenario16 {
    background-image: url('../images/village_images/anarchy.png');
}

#scenario17 {
    background-image: url('../images/village_images/tech_adv.png');
}

#scenario18 {
    background-image: url('../images/village_images/military_state.png');
}

#scenario19 {
    background-image: url('../images/village_images/alliance.png');
}

#scenario20 {
    background-image: url('../images/village_images/invest.png');
}
/* Typography */
h1, h2 {
    font-family: Comic_Neu_Bold;
    font-size: 4vw;
    margin: 0 0 20px 0;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Outline effect */
}

#summary{
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; /* Outline effect */
}

.text-section{
	/* Center text in the middle of browser using flexbox */
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text{
	width: 70%;
}


#face_image {
display: flex;
width: 50%;
margin: auto;
}

#comic_image_1 {
  display: flex;
  width: 60%;
  margin: auto;
}
